// @font-face {
//   font-family: 'PT Root UI';
//   src: url('fonts/PT-Root-UI_Light.woff2') format('woff2'),
//     url('fonts/PT-Root-UI_Light.woff') format('woff');
//   font-weight: 100;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'PT Root UI';
//   src: url('fonts/PT-Root-UI_Regular.woff2') format('woff2'),
//     url('fonts/PT-Root-UI_Regular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'PT Root UI';
//   src: url('fonts/PT-Root-UI_Medium.woff2') format('woff2'),
//     url('fonts/PT-Root-UI_Medium.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'PT Root UI';
//   src: url('fonts/PT-Root-UI_Bold.woff2') format('woff2'),
//     url('fonts/PT-Root-UI_Bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'IMB Plex Mono';
//   src: url('fonts/IBMPlexMono-Regular.woff') format('woff'),
//     url('fonts/IBMPlexMono-Regular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'PT Mono';
//   src: url('fonts/PTM55FT.ttf') format('ttf'),
//     url('fonts/PTM55FT.ttf') format('ttf');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Gilroy-Regular';
//   src: url('fonts/Gilroy-Regular.ttf') format('ttf'),
//     url('fonts/Gilroy-Regular.woff') format('woff'),
//     url('fonts/Gilroy-Regular.ttf') format('ttf');
//   font-weight: 400;
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Gilroy-Semibold';
//   src: url('fonts/Gilroy-Semibold.ttf') format('ttf'),
//     url('fonts/Gilroy-Semibold.woff') format('woff'),
//     url('fonts/Gilroy-Semibold.ttf') format('ttf');
//   font-weight: 600;
//   font-style: normal;
// }

@font-face {
  font-family: 'Gilroy-medium';
  src: url('fonts/Gilroy-Medium.ttf') format('ttf'),
    url('fonts/Gilroy-Medium.ttf') format('ttf'),
    url('fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

// @font-face {
//   font-family: 'Helvetica-italic';
//   src: url('fonts/Helvetica-LightOblique.woff2') format('woff2'),
//     url('fonts/Helvetica-LightOblique.woff') format('woff');
//   font-weight: 300;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Helvetica-regular';
//   src: url('fonts/helvetica_regular.otf') format('otf'),
//     url('fonts/Helvetica.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Helvetica-bold';
//   src: url('fonts/Helvetica-Bold.woff2') format('woff2'),
//     url('fonts/Helvetica-Bold.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: 'AtypDisplay-Italic';
  src: url('fonts/AtypDisplay-Italic.ttf') format('ttf'),
    url('fonts/AtypDisplay-Italic.woff2') format('woff2'),
    url('fonts/AtypDisplay-Italic.woff') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AtypDisplay-LightItalic';
  src: url('fonts/AtypDisplay-LightItalic.ttf') format('ttf'),
    url('fonts/AtypDisplay-LightItalic.woff2') format('woff2'),
    url('fonts/AtypDisplay-LightItalic.woff') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AtypDisplay-Regular';
  src: url('fonts/AtypDisplay-Regular.ttf') format('ttf'),
    url('fonts/AtypDisplay-Regular.woff2') format('woff2'),
    url('fonts/AtypDisplay-Regular.woff') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AtypDisplay-Light';
  src: url('fonts/AtypDisplay-Light.ttf') format('ttf'),
    url('fonts/AtypDisplay-Light.woff2') format('woff2'),
    url('fonts/AtypDisplay-Light.woff') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AtypDisplay-Semibold';
  src: url('fonts/AtypDisplay-Semibold.ttf') format('ttf'),
    url('fonts/AtypDisplay-Semibold.woff2') format('woff2'),
    url('fonts/AtypDisplay-Semibold.woff') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

