body.index {
  overflow: hidden;
  
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    
    .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background-size: cover;
      background-size: 100%;
    }
    .background-img {
      // background-color: #141414;
      background-image: url(./images/models-black.gif);
    }
    .foreground-img {
      // background-color: #9780C8;
      background-image: url(./images/models-purple.gif);
      height: 50%;
    }

    @mixin center() {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .slider {
      -webkit-transform:rotate(90deg); 
      -moz-transform:rotate(90deg); 
      -o-transform:rotate(90deg); 
      -ms-transform:rotate(90deg); 
      transform:rotate(90deg); 
      // writing-mode: bt-lr; /* IE */
      // -webkit-appearance: slider-vertical; /* Chromium */
      position: absolute;
      // -webkit-appearance: none;
      appearance: none;
      width: 80%;
      height: 100%;
      background: rgba(#f2f2f2, .0);
      outline: none;
      margin: 0;
      // transition: all .2s;
      @include center;
      // &:hover {
      //   background: rgba(#f2f2f2, .0);
      // }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 6px;
        height: 100vh;
        background: rgba(#f2f2f2, .0); //line
        cursor: pointer;
      }
    }

    
    .slider-button {
      pointer-events: none;
      position: absolute;
      width: 169px;
      height: 16px; 
      // border-radius: 50%;
      background: linear-gradient(180deg, #F3F3F3 0%, #DDDDDD 100%);
      box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      left: calc(50% - 88px);
      top: calc(50% - 7px);
      @include center;
      
      @mixin arrow-helper() {
        content: '';
        padding: 3px;
        display: inline-block;
        border: solid #9780C8;
        border-width: 0 2px 2px 0;
      }
      // &:after {
      //   @include arrow-helper();
      //   transform: rotate(-45deg);
      // }
      // &:before {
      //   @include arrow-helper();
      //   transform: rotate(-180deg);
      // }
    }

  }

 #preloader{ 
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #141414;
  position: absolute;
 }

}