.A_menu {
  z-index: 999;
  width: 100vw;
  height: 110px;
  padding-left: 41px;
  padding-right: 41px;
  background-color: #101010;
  color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
  .Q_logo span {
    font-family: 'Helvetica-light';
    font-style: oblique;
    font-weight: 300;
    font-size: 48px;
  }
  .Q_logo {
    display: flex;
    gap: 5px;
    font-family: 'Helvetica-bold';
    font-weight: bold;
    font-style: normal;
    font-size: 48px;

    a {
      text-decoration: none;
      color: #f1f1f1;
    }
  }
  .Q_nav {
    display: flex;
    gap: 99px;
    a {
      color: #f1f1f1;
      text-decoration: none;
      font-family: 'Atyp Text-Thin';
      font-weight: 0;
      font-style: normal;
      font-size: 20px;
    }
   .underline{
    
   }
  }

}