.O_header {
  margin-top: 25px;
  display: flex;
  gap: 74px;
  padding-left: 55px;
  padding-right: 55px;

  .nav {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 14px;
    align-self: center;
    .navigation {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .line {
      background-color: #F4F4F4;
      height: 1px;
      width: 100%;
    }

    a {
      font-size: 24px;
      text-decoration: none;
      color: #F4F4F4;
    }
  }

}