body.models {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6C6C6;
  
    & > div,
    & > a {
      margin: 10px 0;
    }
  }