body.onetexture {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Gilroy-medium';
  .back {
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
    a {
      text-decoration: none;
      color: black;
    }
  }
  .image {
    background-image: url('images/pinktexture1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    // margin-left: 10px;
    margin-right: 20px;
    // background-position: center;
    margin-top: 17px;
    width: 82vw;
    height: 377px;
  }
  h1 {
    font-size: 32px;
  }
  .text {
    margin-top: 30px;
    font-size: 22px;
    line-height: 30px;
    width: 700px;
  }
  .description {
    display: flex;
    height: 55vh;
    flex-direction: column;
    justify-content: space-around;
  }
  .roro {
    display: flex;
    flex-direction: row;
    width: 82vw;
    justify-content: space-between;
  }
  .button {
    margin-top: 50px;
  }
}
