body.project {
  .padding {
    padding-left: 14px;
    padding-right: 14px;
  }
  margin: 0;
  // overflow: scroll;
  background-color: black;
  height: 97vh;
  .nav-promo1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // align-content: center;
  }
  .kvadrat {
    font-size: 48px;
    font-family: 'Gilroy-medium';
    margin-top: 21px;
    color: white;
  }
  .nav-promo {
    margin-top: 31px;
    width: 105px;
    height: 110px;
    font-size: 20px;
    display: flex;
    text-decoration: none;
    color: black;
    flex-direction: column;
    gap: 10px;
    z-index: 999;
    a {
      text-decoration: none;
      font-family: 'Gilroy-medium';
      color: white;
    }
    #hidden {
      position: relative;
      display: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .nav-promo:hover #hidden {
    display: block;
    cursor: pointer;
  }

  .cube {
    height: 75vh;
    width: 95vw;
    background-image: url(./images/cubeproj.gif);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    // top: 50px;
    position: relative;
    z-index: 999;
  }
  .first-block {
    margin: auto;
    // margin-top: 40vw;
    // width: 97vw;
    padding-left: 22px;
    padding-top: 33px;
    padding-right: 50px;
    // height: 190px;
    padding-bottom: 38px;
    font-family: 'Gilroy-medium';
    line-height: 36px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #ffffff;
    border-radius: 4px;
    color: white;
    .description {
      font-size: 32px;
      width: 900px;
    }
    .header {
      font-size: 36px;
      width: 500px;
    }
  }
  .second-block,
  .lolik {
    margin: auto;
    margin-top: 27px;
    // width: 97vw;
    padding-left: 22px;
    padding-top: 33px;
    padding-right: 50px;
    // height: 190px;
    padding-bottom: 38px;
    font-family: 'Gilroy-medium';
    line-height: 36px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #ffffff;
    border-radius: 4px;
    color: white;
    .description {
      font-size: 32px;
      width: 900px;
    }
    .header {
      font-size: 36px;
      width: 500px;
    }
  }
  .third-block {
    background: black;
    color: white;
    margin: auto;
    margin-top: 27px;
    // width: 97vw;
    padding-left: 22px;
    padding-top: 45px;
    padding-right: 50px;
    padding-bottom: 38px;
    font-family: 'Gilroy-medium';
    line-height: 36px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 4px;
    color: black;
    .description {
      font-size: 32px;
      width: 900px;
    }
    .header {
      font-size: 36px;
      width: 500px;
    }
  }
  .fourth {
    margin: auto;
    margin-top: 27px;
    // width: 97vw;
    padding-left: 22px;
    padding-top: 45px;
    padding-right: 50px;
    padding-bottom: 38px;
    font-family: 'Gilroy-medium';
    line-height: 36px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #ffffff;
    border-radius: 4px;
    color: white;
    .description {
      font-size: 32px;
      width: 900px;
    }
    .header {
      font-size: 36px;
      width: 500px;
    }
  }
  .last {
    .mockup {
      width: 50%;
    }
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    width: 90vw;
    justify-content: space-around;
    font-family: 'Gilroy-medium';
    p {
      margin-left: 10px;
      font-size: 20px;
      padding-bottom: 10px;
    }

    form {
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;

      div {
        display: flex;
        justify-content: center;
      }
    }
    .form-input {
      background: #ffffff;
      border: 1px solid #000000;
      border-radius: 24.1309px;
      font-size: 16px;
      width: 500px;
      height: 47.85px;
      padding-left: 21px;
      outline: none;
      border: none;
    }
    // input {
    //   outline: none;
    //   width: 390.17px;
    //   border: none;
    // }
    #my-form-status {
      margin: auto;
      margin-top: 10px;
      font-size: 16px;
    }
    #my-form-button {
      cursor: pointer;
      background-color: black;
      border: none;
      img {
        position: absolute;
        margin-top: -13px;
        z-index: 99;
        margin-left: -45px;
      }
      #inverted:hover {
        opacity: 100;
      }
      #inverted {
        opacity: 0;
      }
    }
    .thanks {
      font-family: 'Gilroy-medium';
      font-size: 18px;
      margin: auto;
      margin-top: 10px;
      color: white;
      text-align: left;
      margin-left: 10px;
    }
  }

  .flowers {
    margin: auto;
    margin-top: 27px;
    // width: 97vw;
    height: 538px;
    border: 2px solid #000000;
    background-image: url(./images/flowers.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  footer {
    padding-left: 25px;
    color: #ffffff;
    font-family: 'Gilroy-medium';
    background: black;
    height: 159px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  .footer {
    line-height: 22px;
    font-size: 18px;
    display: flex;
    gap: 39px;
    text-align: start;

    img {
      margin-top: 18px;
    }
  }
  .team {
    // margin-top: 20px;
    color: black;

    a {
      text-decoration: underline;
      color: black;
    }
  }
  .socials {
    display: flex;
    gap: 15px;
    padding-right: 25px;
  }
}




@media (min-width:0px) and (max-width:1250px) {
  body.project{
    .last {
      .mockup {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      margin-top: 45px;
      flex-direction: column-reverse;
      .thanks {
       text-align: left;
       margin-left: 10px;
      }
      form {
        flex-direction: column-reverse;
        .mi {
          .form-input {
            width: 80vw;
          }
        }
      }
    }
  }
}


@media (min-width:0px) and (max-width:1024px) {
  body.project {
    .first-block {
      .description {
        font-size: 28px;
        // width: 900px;
      }
      .header {
        font-size: 32px;
        // width: 500px;
      }
    }
    .second-block {
      .description {
        font-size: 28px;
        // width: 900px;
      }
      .header {
        font-size: 32px;
        // width: 500px;
      }
    }
    .third-block {
      .description {
        font-size: 28px;
        // width: 900px;
      }
      .header {
        font-size: 32px;
        // width: 500px;
      }
    }
    .fourth {
      .description {
        font-size: 28px;
      }
      .header {
        font-size: 32px;
        // width: 500px;
      }
    }
  }
}
@media (min-width:0px) and (max-width:850px) {
  body.project {
    .first-block,
    .second-block,
    .third-block,
    .fourth {
      flex-direction: column;
    }
    .first-block {
      .header {
        width: auto;
      }
      .description {
        width: auto;
        margin-top: 28px;
        margin-left: 5vw;
      }
    }
    .second-block {
      .header {
        width: auto;
      }
      .description {
        width: auto;
        margin-top: 28px;
        margin-left: 5vw;
      }
    }
    .third-block {
      .header {
        width: auto;
      }
      .description {
        width: auto;
        margin-top: 28px;
        margin-left: 5vw;
      }
    }
    .fourth {
      .header {
        width: auto;
      }
      .description {
        width: auto;
        margin-top: 28px;
        margin-left: 5vw;
      }
    }
    .last {
      margin-bottom: 20px;
    }
  }
}

@media (min-width:0px) and (max-width:414px) {
  body.project {
    .kvadrat {
      font-size: 24px;
    }
    .nav-promo {
      margin-top: 21px;
    }
    .cube {
      top: 0px;
      width: 98vw;
      background-size: 180%;
      left: -30px;
      // background-position: -225px;
    }
    .first-block {
      .description {
        font-size: 22px;
        line-height: 27px;
      }
      .header {
        font-size: 28px;
      }
    }
    .second-block {
      .description {
        font-size: 22px;
        line-height: 27px;
      }
      .header {
        font-size: 28px;
      }
    }
    .third-block {
      .description {
        font-size: 22px;
        line-height: 27px;
      }
      .header {
        font-size: 28px;
      }
    }
    .fourth {
      .description {
        font-size: 22px;
        line-height: 27px;
      }
      .header {
        font-size: 28px;
      }
    }
    .thanks {
      font-size: 16px;
    }
    .last {
      .mockup {
      width: 90vw;
      }
    }
    footer {
      padding-left: 14px;
      height: 100px;
    }
    .footer {
      font-size: 14px;
      line-height: 20px;
    }
    .socials {
      padding-right: 0;
      gap: 0;
      img {
        width: 70%;
      }
    }
  }
} 