body.promo {
  color: #f4f4f4;
  background-color: #101010;
  font-family: 'Gilroy-Regular';
  .background {
    width: 100vw;
    height: 1126px;
    background-image: url(./images/background-landing.svg);
    background-repeat: no-repeat;
    background-size: cover;

    .logo {
      padding-left: 24px;
      padding-top: 30px;
    }

    .site-button {
      float: right;
      margin-right: 20vw;
      margin-top: 65vh;
      padding-left: 37px;
      padding-top: 13px;
      padding-bottom: 12px;
      padding-right: 37px;
      width: max-content;
      border: 1px solid #FFFFFF;
      border-radius: 7px;
    }

    .site-button a {
      color: #f4f4f4;
      font-size: 36px;
      text-decoration: none;
    }

  }
  .about-media {
    display: flex;
    // align-items: center;
    margin-top: 75px;
    gap: 52px;

    .logo {
      align-self: baseline;
      padding-left: 53px;
    }

    .line {
      margin-top: 3px;
      width: 30vw;
      height: 1px;
      background-color: #f4f4f4;
    }

    .text {
      align-self: baseline;
      width: 572px;
      height: 140px;
      color: #f4f4f4;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 120.5%;
    }
  }

  .large-text {
    padding-top: 240px;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 110%;
    padding-left: 47px;
    color: #f4f4f4;
    width: 70vw;
  }

  .header {
    font-family: 'Helvetica-light';
    font-style: oblique;
    font-weight: 300;
    font-size: 52px;
    line-height: 60px;
    text-transform: uppercase;
  }
  span {
    font-family: 'Helvetica-bold';
    font-weight: bold;
    font-style: normal;
    font-size: 52px;
  }

  .fichi {
    margin-top: 225px;
    margin-left: 53px;
    color: #f4f4f4;


    // .avtorskaya {
    //   display: flex;
    //   justify-content: space-between;
    //   margin-top: 66px;


    //   .share {
    //     padding-right: 53px;
    //     display: flex;
    //     flex-direction: column;

    //   }

    //   .text-cr {
    //     width: 578px;
    //     font-style: normal;
    //     font-weight: 400;
    //     font-size: 24px;
    //     line-height: 128%;
    //   }

    //   .site-button {
    //     margin-top: 26px;
    //     padding-left: 39px;
    //     padding-top: 12px;
    //     padding-bottom: 17px;
    //     padding-right: 23px;
    //     float: right;
    //     width: max-content;
    //     border: 1px solid #FFFFFF;
    //     border-radius: 7px;
    //   }

    //   .site-button a {
    //     color: #f4f4f4;
    //     font-size: 36px;
    //     text-decoration: none;
    //   }

    // }
  }
  .cards {
    padding-top: 82px;
    width: max-content;
    display: flex;
    gap: 51px;
    margin: auto;
  }

  .purple {
    margin-top: 176px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 53px;
    padding-right: 53px;
    color: #f4f4f4;
    background-color: #9780C8;

  .purple-header {
    display: flex;
    justify-content: space-between;
  }
    .text {
      width: 465px;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 120.5%;
    }
    .share {
      display: flex;
      flex-direction: column;

    }

    .text-cr {
      width: 578px;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 128%;
    }

    .site-button {
      margin-top: 26px;
      padding-left: 34px;
      padding-top: 12px;
      padding-bottom: 17px;
      padding-right: 32px;
      float: right;
      width: max-content;
      border: 1px solid #FFFFFF;
      border-radius: 7px;
    }

    .site-button a {
      color: #f4f4f4;
      font-size: 36px;
      text-decoration: none;
    }
    .image {
      margin-top: 60px;
      background-image: url(./images/purple-image.svg);
      background-size: cover;
      width: 1335px;
      height: 483px;
      width: 100%;
    }
    .text-motion {
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 120%;
    }
    .motion {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
    }

  }

  .text {
    width: 465px;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.5%;
  }

  .avtorskaya {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;


    .share {
      padding-right: 53px;
      display: flex;
      flex-direction: column;

    }

    .text-cr {
      width: 578px;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 128%;
    }

    .site-button {
      margin-top: 26px;
      padding-left: 39px;
      padding-top: 12px;
      padding-bottom: 17px;
      padding-right: 32px;
      float: right;
      width: max-content;
      border: 1px solid #FFFFFF;
      border-radius: 7px;
    }

    .site-button a {
      color: #f4f4f4;
      font-size: 36px;
      text-decoration: none;
    }

  }
  .marg {
    padding-left: 53px;
    margin-top: 110px;
  }

  .tutorial-cards {
    width: max-content;
    margin: 107px auto;
    div {
      display: flex;
      gap: 55px;
    }
    display: flex;
    gap: 35px;
    flex-direction: column;
  }

  .tech {
    margin-left: 53px;
    margin-top: 30px;
  }

  .pad {
    padding-top: 100px;
    margin-bottom: 284px;
  }

  .aud {
    margin-left: 53px;
  }

  .people {
    margin-top: 55px;
    padding-left: 53px;
    padding-right: 53px;
    width: 100vw;
    display: flex;
    justify-content: space-between;

  }

  footer {
    font-size: 20px;
    img {
      width: 156px;
      height: 56px;
    }
    padding-top: 56px;
    padding-left: 53px;
    padding-right: 53px;
    margin-top: 114px;
    background-color: #9780C8;
    width: 100vw;
    height: 232px;
    display: flex;
    justify-content: space-between;
  }
  .column {
    gap: 10px;
    width: 175px;
    display: flex;
    flex-direction: column;
  }

  .column-sec {
    gap: 10px;
    width: 240px;
    display: flex;
    flex-direction: column;
  }

  .authors {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .bold {
    font-family: 'Gilroy-Semibold';
  }

  .footer-logos {
    display: flex;
    gap: 30px;
  }
  .inst {
    width: 91px;
  }


  .marquee-container{
    margin-top: 83px;
    display: flex;
    align-items: center;
    background: #101010;
    overflow: hidden;
}

  .marquee{
    font-size: 96px;
    line-height: 1.3;
    font-family: sans-serif;
    padding: 24px 0;
    color: #f4f4f4;
    white-space: nowrap;
    animation: marquee 6.5s infinite linear; /* notice the infinite */
  }
  .marquee:after{
    content: "c reshape жизнь становится лучше";
}

  @keyframes marquee{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
  }

}
